[mysqld]
max_allowed_packet=10M
innodb_file_per_table=1
innodb_data_file_path=ibdata1:10M:autoextend:max:10G
log_error=/var/log/mysql/mysql_error.log

general_log_file=/var/log/mysql/mysql.log
general_log=1

long_query_time=30
slow-query-log=1
slow_query_log_file=/var/log/mysql/mysql-slow.log
log-queries-not-using-indexes

#collation_connection=utf8_general_ci
collation_server=utf8_bin
character_set_server=utf8

# for mysql 8.x
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
